.image-colors-container {
	margin-top: 3rem;
	width: 100%;
	display: flex;
	align-items: center;
}

.predominant-color {
	margin: 30px auto;
	border-radius: 5px;
}
.predominant-code {
	color: white;
	display: flex;
	flex-direction: column;
	padding-top: 8px;
}
