.image-colors-container {
	margin-top: 3rem;
	width: 100%;
	display: flex;
	align-items: center;
}
.image-upload {
	width: 40%;
}

.predominant-color {
	width: 50%;
	margin: 30px auto;
	border-radius: 5px;
}
.predominant-code {
	color: white;
	display: flex;
	flex-direction: column;
	padding-top: 8px;
}

.image-colors-container .palette {
	width: 40%;
	margin-bottom: 4rem;
}

.image-colors-container .code {
	width: 30%;
	margin-bottom: 4rem;
}

.image-colors-container .code p {
	color: white;
}
