@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@100;400;500;600;700&display=swap');

#root {
	max-width: 1850px;
	margin: 0 auto;
	padding: 0rem;
	text-align: center;
}
.app-container {
	max-width: 1250px;
	margin: auto;
}
.app-container .app-title {
	font-size: 3rem;
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	color: var(--dark);
}
.app-piker-palette {
	border: 2px dashed var(--red);
	margin: 0 auto;
}

/* section app-image-upload */
.app-image-upload {
	border: 2px dashed var(--red);
	margin-top: 1rem;
}
