:root {
	--light: #ecebdf;
	--dark: #333;
	--red: #bc3b38;
	--grey: #bdbdbd;
	--blue-light: #125b8b;
	--orange: #d36a09;
}
html {
	margin: 0 auto;
	box-sizing: border-box;
	background-color: var(--light);
	color: var(--dark);
}
